{extends file="index.html"}
{block name=content}



        {block name=login}
                            {/block}

<div class="container-fluid bg-secondary mb-5">

 
    <form action="{$conf->action_url}logowanie" method="post"  class="pure-form pure-form-aligned bottom-margin">

    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <label for="login">Login:</label>
        <input type="text" id="login" name="login">
        <label for="pass">Hasło:</label>
        <input type="password" id="pass" name="pass">

        <input type="submit" value="Loguj" class="pure-button pure-button-primary"/>

        <div id="lower">
            {include file='messages.html'}
        </div>
       
    </div>     
</form>



    
</div>


    {/block}