

{extends file="index.html"}
{block name=content}



    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">

        <form id="registration-form" action="{$conf->action_url}rejestracja" method="post" 
            class="pure-form pure-form-aligned bottom-margin" 
            onsubmit="ajaxPostForm('registration-form', '{$conf->action_url}rejestracjaAjax', 'registration-messages'); return false;">
       
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
                <label for="login">Login:</label>
                <input type="text" id="login" name="login">
                <label for="pass">Hasło:</label>
                <input type="password" id="pass" name="pass">
                <label for="pass">Powtórz hasło:</label>
                <input type="password" id="pass2" name="pass2">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email">
                <input type="submit" value="Rejestruj" class="pure-button pure-button-primary"/>
        
                <div id="registration-messages">
                    {include file='messages.html'}
                </div>
            </div>
        </form>
        


 
        
    </div>
    <!-- Page Header End -->


    {/block}